<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HandymanToBkByggExport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <HandymanToBkByggExport.Properties.Settings>
            <setting name="BKByggURL" serializeAs="String">
                <value>http://127.0.0.1:8080/portico/symfony_handyman/message/import</value>
            </setting>
            <setting name="SourcePath" serializeAs="String">
                <value>C:\GSGroup\Filutv</value>
            </setting>
            <setting name="DestinationPath" serializeAs="String">
                <value>C:\GSGroup\Filutv\bkbygg</value>
            </setting>
            <setting name="FileExtention" serializeAs="String">
                <value>BYT</value>
            </setting>
            <setting name="FilePreFix" serializeAs="String">
                <value>eOrdr</value>
            </setting>
        </HandymanToBkByggExport.Properties.Settings>
    </applicationSettings>
</configuration>